@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&display=swap');

*,body {
    font-family: 'Noto Sans Thai', sans-serif;
}
.wrapper{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
main{
    flex:1;
}

.page {
    display: none;
}

.page.active {
    display: block;
}
body::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.detail-content::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3b82f6; /* สีน้ำเงินของ Tailwind */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

 /* floating animation */
    @keyframes float {
        0%,100% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    .animate-float {
        animation: float 4s ease-in-out infinite;
    }

    /* glow button */
    .btn-glow:hover {
        box-shadow: 0 0 20px rgba(239, 68, 68, 0.6);
        transform: translateY(-2px);
    }

    /* smooth hover card */
    .card-hover {
        transition: all .35s ease;
    }

    .card-hover:hover {
        transform: translateY(-8px);
        box-shadow: 0 20px 40px rgba(0,0,0,.12);
    }

    /* animated background */
    @keyframes pulseBg {
        0%,100% {
            opacity: .15;
            transform: scale(1);
        }
        50% {
            opacity: .25;
            transform: scale(1.05);
        }
    }

    .hero-bg {
        animation: pulseBg 10s ease-in-out infinite;
    }